body {
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("spectacle.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

p {
    font-size: 1em;
}

.montserrat-header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 3em;
    color: #ffffff; /* texte blanc pour contraster */
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.constructeur-header {
    text-align: center;
    font-family: 'Constructeur', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #030213;
    padding: 7em;
    margin-bottom: 1em;
}


.date {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #030213;
    background-color: #D3D3D3;
    border: solid 0.5vmin #030213;
    border-radius: 0.5vmin;
    width: 80%;
    height: 18vmin;
    display: flex;
    flex-direction: row;
    padding: 0; 
    gap: 0;
}


.constructeur-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 1em;
    margin-right: 0;
}

.nom-artiste {
    margin: 0;
}

.image-artiste {
    background-color: red;
    width: 20%;
}

.nom-artiste-nombre-billets {
    background-color: green;
    width: 40%;
}

.bouton-réserver {
    background-color: blue;
    width: 40%;
}

