.constructeur {
    display: flex;
    flex-direction: column; /* Aligne les enfants verticalement */
    justify-content: flex-start; /* Aligne les enfants en haut */
    text-align: left;
    /* background-color: red; */
    width: 50%; /* Occupe 50% de la largeur pour équilibrer avec l'image */
    height: auto; /* Ajuste la hauteur automatiquement */
    margin-top: 5rem;
    margin-left: 3rem;
}

.constructeur2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.titre {
    margin-left: 3rem;
    font-size: 2.5em;
}


.sous-titre {
    margin-left: 3rem;
    font-size: 1.5em;

}

.enfant1 {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.enfant2 {
    /* background-color: green; */
    width: 50%;
    display: flex;
    align-items: center;

}

.enfant3 {
    /* background-color: purple; */
    width: 50%;
    display: flex;
    align-items: center;
}


.liste_deroulante select {
    width: 10rem; /* Augmente la largeur de la liste déroulante */
    height: 3rem; /* Augmente la hauteur de la liste déroulante */
    font-size: 1.2rem; /* Augmente la taille du texte */
    padding: 0.5rem; /* Ajoute un espace intérieur pour un meilleur rendu */
}

img {
    width: 35rem;
    height: 28rem;
    margin-right: 2rem;
}

.main-content {
    /* background-color: red; */
    display: flex; /* Active Flexbox pour aligner les enfants et l'image */
    justify-content: space-between; /* Espace entre les enfants et l'image */
    align-items: flex-start; /* Aligne les enfants en haut du conteneur */
    margin-top: 3rem;
    padding-top: 1rem; /* Ajoute un peu d'espace en haut si nécessaire */
}