/*=============================== PAGE INDEX/STYLE DE BASE DU SITE ==========================*/

nav div { /* Navigation principale */
    display: flex; /* Utilise Flexbox pour  */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 20vmin; /* Espace entre les éléments */
    background-color: blueviolet; /* Couleur de fond */
    padding: 15px; /* Espace intérieur */
}

.lien { /* Style des liens de navigation */
    text-decoration: none; /* Supprime le soulignement */
    color: black; /* Couleur du texte */
}

.lien:hover { /* Style au survol des liens */
    text-decoration: underline; /* Ajoute un soulignement */
}

.footer { /* Pied de page */
    background-color: blueviolet; /* définit la couleur de fond du pied de page */
    color: black; /* définit la couleur du texte du pied de page */
    text-align: center; /* centre le texte du pied de page */
    padding: 20px; /* ajoute un peu d'espace autour du texte */
    margin-top: 40px; /* ajoute un espace au-dessus du pied de page */
}

.banner { /* En-tête */
    background-color: white; /* définit la couleur de fond de l'en-tête */
    color: black; /* définit la couleur du texte de l'en-tête */
    text-align: center; /* centre le texte de l'en-tête */
}

/*=============================== PAGE TOURNÉES ======================================= */




/*==================================== PAGE CONTACT =======================================*/

.button { /* Style du bouton */
    background-color: blueviolet; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprime la bordure */
    padding: 10px 20px; /* Espace intérieur */
    cursor: pointer; /* Change le curseur au survol */
}