/*=============================== IMPORTATION POLICE ==========================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Font principal, prends des valeurs de font-weight entre 100 et 900 */
.montserrat-1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat-nav-bar {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/*=============================== RÉINITIALISATION DES STYLES ==========================*/

body {
    margin: 0; /* Supprime les marges par défaut */
}

/*=============================== BARRE NAVIGATION ==========================*/

.navBar { /* Navigation principale */
    display: flex; /* Utilise Flexbox pour  */
    justify-content: right; /* Centre les éléments horizontalement */
    align-items: center; /*Aligne les items au centre Verticalement */
    gap: 7vmin; /* Espace entre les éléments */
    background-color: #030213; /* Couleur de fond */
    padding: 35px; /* Espace intérieur */
}

.navBar a { /* Style des liens de navigation */
    color: white; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement */
    font-size: 1.4em; /* Taille de la police */
}

.navBar a:hover { /* Style au survol des liens */
    text-decoration: underline; /* Ajoute un soulignement */
    transform: translateY(-4px);
    transition: transform 0.1s;
}

/*=============================== ICÔNE MUSIQUE ET NOM DE L'AGENCE (BARRE DE NAVIGATION) ==========================*/

/*** Le lien  de google Fonts n'a pas marché pour moi si je l'insère dans style.css (je l'ai mis dans contact.html) ***/
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=music_note');

/*** Pour que la note de musique et le nom d'agence fonctionnent il faut copier le nav de contact.html ***/

.material-symbols-outlined { /* Style de l'icône de musique */
  font-variation-settings:
  'FILL' 0, /* Remplit l'icône */
  'wght' 0, /* Épaisseur de l'icône */
  'GRAD' 0, /* Dégradé de l'icône */
  'opsz' 0 /* Taille de l'icône */
}

.icone-agency-container { /* Conteneur pour l'icône et le nom de l'agence */
  display: flex; /* flex pour aligner les éléments horizontalement */
  align-items: center; /* Aligne les éléments verticalement au centre */
  gap: 1vmin; /* Espace entre l'icône et le nom de l'agence */
  justify-content: flex-start; /* Aligne les éléments à gauche */
  margin-right: auto; /* pousse les liens à droite */
}

.icone { /* Style de l'icône de musique */
  color: white; /* Couleur de l'icône */
  font-size: 1.1em; /* Taille de l'icône */
  line-height: 1; /* Hauteur de ligne */
  font-style: italic; /* Style italique */
}

.agency_name { /* Style du nom de l'agence */
  color: white; /* Couleur du texte */
  font-size: 1.1em; /* Taille de la police */
  font-weight: 300; /* Épaisseur de la police */
  letter-spacing: 0.2vmin; /* Espacement des lettres */
}

/*================================= BOUTON ===============================*/

.lien { /* Style des liens de navigation */
    text-decoration: none; /* Supprime le soulignement */
    color: black; /* Couleur du texte */
}

.lien:hover { /* Style au survol des liens */
    text-decoration: underline; /* Ajoute un soulignement */
}


/*========================== FOOTER ET BANNER =============================*/

/* Pour le footer, ce serait mieux si vous copiez le code de footer dans contact.html car certaines propriétés sont faites avec Bulma */

.footer { /* Pied de page */
    background-color: #030213; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-align: center; /* Centre le texte */
    padding: 3vmin; /* Espace intérieur */
    margin-top: 6vmin; /* Espace au-dessus du pied de page */
}

.footer strong { /* Style du texte en gras dans le pied de page */
    color: white; /* Couleur du texte */
}

.footer a {
    color: white; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement */
}

.banner { /* Style de la bannière */
    background-color: #030213; /* Couleur de fond */
    color: grey; /* Couleur du texte */
    text-align: center; /* Centre le texte */
    padding-bottom: 4.5vmin; /* Espace intérieur */
    margin-top: 7.5vmin; /* Espace au-dessus de la bannière */
}

/* nom très peu significatif pour dire remplir l'épaisseur du texte*/
.texte-encadre { /* Style du texte dans l'encadré */
    font-weight: 300; /* Poids de la police */
    font-style: normal; /* Style normal */
    
}







