/*======================= HEADER =======================*/

header { /* En-tête */
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../Mission/mission2.jpg'); /* Image de fond avec assombrissement */
    background-size: cover; /* Couvre toute la zone */
    background-position: center; /* Centre l'image */
    min-height: 80vmin; /* Hauteur minimale */
}

.title { /* Titre principal */
    color: white; /* Couleur du texte */
    text-align: left; /* Centre le texte */
    padding: 8vmin 2vmin; /* Espace intérieur */
}

.description { /* Description sous le titre */
    color: white; /* Couleur du texte */
    font-size: 3.7vmin; /* Taille de la police */
    line-height: 1.6; /* Hauteur de ligne */
    margin-top: 0vmin; /* Espace au-dessus */
}

/*======================= MAIN CONTENT =======================*/

main li { /* Style des éléments de liste */
    margin-bottom: 3vmin; /* Espace entre les éléments de la liste */
}

main p { /* Style des paragraphes */
    margin-top: 1.5vmin; /* Espace entre les paragraphes */
}

.content { /* Style du conteneur de contenu */
    padding-bottom: 3vmin; /* Espace intérieur en bas */
    border-bottom: 0.1vmin solid #eee; /* Bordure en bas */
}

