/*=========================== HEADER ======================================*/

header { /* En-tête */
    color: #030213; /* Couleur du texte */
    text-align: center; /* Centre le texte */
    padding: 2vmin; /* Espace intérieur */
    margin-bottom: 2vmin; /* Espace en dessous de l'en-tête */
    margin-top: 4vmin; /* Espace au-dessus de l'en-tête */
}

/*================================ BUTTON ====================================*/

.button { /* Style du bouton */
    background-color: #030213; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprime la bordure */
    padding: 1vmin 2vmin; /* Espace intérieur */
    cursor: pointer; /* Change le curseur au survol */
}

