.AccueilMain {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.65)), url("speaker.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    height: 484px;
    text-align: center;
    color: aliceblue;
    justify-content: center;
    margin: 0;
    padding-top: 30vmin;
    padding-bottom: 60vmin;
    font-size: 1.8em;
}

.montserrat-accueil {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
}

.montserrat-accueil-titre {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8em;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 2.5vmin;
}

.boutton {
    padding: 8px 12px;
    background-color: rgba(139, 98, 33, 0.85);
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    color: aliceblue;
    text-decoration: none;
}

.boutton:hover {
    background-color: rgba(160, 118, 49, 0.85);
}
